.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
assets/img/pains/desktop.ini
assets/img/specialites/desktop.ini
assets/img/viennoiseries/desktop.ini
application/language/english/desktop.ini
application/language/desktop.ini
application/config/desktop.ini
application/controllers/desktop.ini
application/core/desktop.ini
application/desktop.ini
application/helpers/desktop.ini
application/hooks/desktop.ini
application/libraries/desktop.ini
application/models/desktop.ini
application/third_party/desktop.ini
application/views/desktop.ini
application/views/errors/cli/desktop.ini
application/views/errors/desktop.ini
application/views/errors/html/desktop.ini
assets/desktop.ini
assets/img/desktop.ini
desktop.ini
docs/desktop.ini
docs/other/autreControleur/desktop.ini
docs/other/autresModels/desktop.ini
docs/other/autresVues/desktop.ini
docs/other/desktop.ini
img/desktop.ini
system/core/compat/desktop.ini
system/core/desktop.ini
system/database/desktop.ini
system/database/drivers/cubrid/desktop.ini
system/database/drivers/desktop.ini
system/database/drivers/ibase/desktop.ini
system/database/drivers/mssql/desktop.ini
system/database/drivers/mysql/desktop.ini
system/database/drivers/mysqli/desktop.ini
system/database/drivers/oci8/desktop.ini
system/database/drivers/odbc/desktop.ini
system/database/drivers/pdo/desktop.ini
system/database/drivers/pdo/subdrivers/desktop.ini
system/database/drivers/postgre/desktop.ini
system/database/drivers/sqlite/desktop.ini
system/database/drivers/sqlite3/desktop.ini
system/database/drivers/sqlsrv/desktop.ini
system/desktop.ini
system/fonts/desktop.ini
system/helpers/desktop.ini
system/language/desktop.ini
system/language/english/desktop.ini
system/libraries/Cache/desktop.ini
system/libraries/Cache/drivers/desktop.ini
system/libraries/desktop.ini
system/libraries/Javascript/desktop.ini
system/libraries/Session/desktop.ini
system/libraries/Session/drivers/desktop.ini
user_guide/_downloads/desktop.ini
user_guide/_images/desktop.ini
user_guide/_static/css/desktop.ini
user_guide/_static/desktop.ini
user_guide/_static/fonts/desktop.ini
user_guide/_static/images/desktop.ini
user_guide/_static/js/desktop.ini
user_guide/contributing/desktop.ini
user_guide/database/desktop.ini
user_guide/desktop.ini
user_guide/documentation/desktop.ini
user_guide/general/desktop.ini
user_guide/helpers/desktop.ini
user_guide/installation/desktop.ini
user_guide/libraries/desktop.ini
user_guide/overview/desktop.ini
user_guide/tutorial/desktop.ini
assets/css/desktop.ini
